---
- name: Ensure packages are installed
  apt:
    name: "{{ item }}"
    state: "present"
  with_items:
    - nginx-light
- name: nginx dhparam.pem
  copy:
    content: "{{ lookup('ploy_crypted', 'dhparam.pem') }}"
    dest: /etc/nginx/dhparam.pem
    mode: "0600"
  notify: reload nginx
- name: nginx config
  copy:
    content: "{{ nginx_conf_content }}"
    dest: /etc/nginx/nginx.conf
  notify: reload nginx
